<html>
{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'index.css' %}">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="modal fade" id="myModal" style="margin-top:150px;" role="dialog">
        <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Details</h4>
            </div>
            <div class="modal-body">
            Dish
            <input  id="dish" class="form-control" list="dishes">
            <datalist id="dishes">
                <option value="Manchurian">
                <option value="Chicken Lollipop">
                <option value="Crispy Corn">
                <option value="Chicken Tikka Kebab">
                <option value="Paneer Tikka Kebab">
                <option value="Chicken 65">
                <option value="Paneer 65">
                <option value="Mixed Sauce Pasta">
                <option value="Chicken Biriyani">
                <option value="Mixed Chicken Noodles">
                <option value="Veg Biriyani">
                <option value="Chicken Butter Masala">
                <option value="Chicken Lababdar">
                <option value="Red Pepper Paneer">
                <option value="Chicken Lasagna">
                <option value="Chicken Lasagna">
                <option value="Butter Nan">
                <option value="Lacha Paratha">
                <option value="Chocolate Pastry">
                <option value="Ice Cream - Vanila">
                <option value="Ice Cream - Chocolate">
                <option value="Ice Cream - Strawberry">
                <option value="Ice Cream - Butterscotch">
                <option value="Caramel Shake">
            </datalist>
            </div>
            <div class="modal-footer">
            <button type="button" id="start" class="btn btn-default" >Light the Stove</button>
            </div>
        </div>
        </div>
    </div>
    <script>
        
        $("#start").click(function(){
            dish = $("#dish").val();
           $.ajax({
        url: "/start-exam2/",
        data : {
            "dish" :dish
        },
        success: function (result) {
            $('#myModal').modal('toggle');
        }
    });
            
        });
    </script>
    <div class="window">
        <div class="window-header">
            <div class="action-buttons"></div>
            <select class="language">
                <option value="PYTHON3" selected>PYTHON3</option>
                <option value="C">C</option>
                <option value="CPP">CPP</option>
                <option value="JAVA">JAVA</option>
            </select>
        </div>
        <div class="window-body">
            <textarea class="code-input"></textarea>
        </div>
        <h3>Input</h3>
        <input type="text" id="input" style="background-color: white;width:100%;height: 10%;">
        <h3>Output</h3>
        <style>
            .loader {
                border: 16px solid #f3f3f3; /* Light grey */
                border-top: 16px solid #3498db; /* Blue */
                border-radius: 50%;
                width: 120px;
                height: 120px;
                animation: spin 2s linear infinite;
                }

                @keyframes spin {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
                }
        </style>
        <div class="" id="loader"></div>
        <pre class="code-output">
            <h3 id="temp"></h3>
        </pre>
    </div>
    <button class="offset" id="compile" style="width: 100%;height: 5%;background-color: #19bc8b;">Compile & Run</button>
    <button class="offset" id="submit" style="width: 100%;height: 5%;background-color: #19bc8b;">Next</button>
</body>
<script>
    $("#compile").click(function () {
        $("#loader").addClass("loader");
        $.ajax({
            url: "{% url 'compile' %}",
            data: {
                code: $("textarea.code-input").val(),
                lang: $(".language").val(),
                input: $("#input").val()
            },
            success: function (response) {
                    $("#loader").removeClass("loader");
                    $("#temp").html(response.output.compile_status);
                    $("#temp").html(response.output.run_status.output_html);
            }
        });
    });
    
    $("#submit").click(function () {
        $.ajax({
            url: "{% url 'submit2' %}",
            data: {
                code: $("textarea.code-input").val(),
            },
            success: function (response) {
                    window.location = "{% url 'editor3' %}";
            }
        });
    });


</script>
<script>
       $('#myModal').modal({ backdrop: 'static', keyboard: false });
    </script>
</html>